@mixin font($fontname, $filename, $fontweight, $fontstyle) {
  @font-face {
    font-family: $fontname;
    src: url(#{'../fonts/'+$filename+'.eot'});
    src:
      local('😥'),
      url(#{'../fonts/'+$filename+'.woff2'}) format("woff2"),
      url(#{'../fonts/'+$filename+'.woff'}) format("woff"),
      url(#{'../fonts/'+$filename+'.ttf'}) format("truetype");
    font-weight: $fontweight;
    font-style: $fontstyle;
  }
}

@font-face{
  font-family:'Circe';
  src:url('../fonts/circe-regular.eot');
  src:local('☺'), url('../fonts/circe-regular.woff') format('woff'), url('../fonts/circe-regular.svg') format('svg');
  font-weight:400;
  font-style:normal;
}
@font-face{
  font-family:'Circe';
  src:url('../fonts/circe-bold.eot');
  src:local('☺'), url('../fonts/circe-bold.woff') format('woff'), url('../fonts/circe-bold.svg') format('svg');
  font-weight:700;
  font-style:normal;
}
@font-face{
  font-family:'Circe';
  src:url('../fonts/circe-light.eot');
  src:local('☺'), url('../fonts/circe-light.woff') format('woff'), url('../fonts/circe-light.svg') format('svg');
  font-weight:300;
  font-style:normal;
}
