.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 0;
    background: #efefef;
    box-shadow: 0 0 20px #e0e0e0;
    z-index: 10;
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo-buisiness{
        display: flex;
        align-items: center;
    }
    &__buisiness{
        font-size: 18px;
        line-height: 22px;
        max-width: 235px;
    }
    &__contacts-menu{
        display: flex;
        align-items: center;
        .phones-list{
            margin-right: 25px;
            &__item{
              margin-bottom: 5px;
              &:last-child{
                  margin-bottom: 0;
              }  
            }
            a{
                font-size: 18px;
            }
        }
    }
}
.main-nav{
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 50%;
    min-width: 320px;
    background: #fff;
    z-index: 11;
    transition: .3s;
    overflow-y: auto;
    padding: 110px 100px;
    &.active{
        right: 0;
    }
    &__list{
        font-size: 24px;
        .item{
            margin-bottom: 25px;
        }
        a{
            position: relative;
            display: inline-block;
            padding-bottom: 5px;
            &::after{
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                background: #2b89bf;
                transform: rotateY(90deg);
                transition: .3s
            }
            @media (min-width: 1250px){
                &:hover{
                    &::after{
                        transform: rotateY(0);
                    }
                }
            }
        }
    }
}
.logo{
    position: relative;
    width: 200px;
    height: 45px;
    margin-right: 75px;
    &::after{
        position: absolute;
        content: '';
        top: 5px;
        bottom: 5px;
        right: -37px;
        width: 2px;
        background: #2b89bf;
    }
}