<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  <div class="wrapper">
      {% include 'header.html' %}
      <div class="main">
        <div class="block-1">
          <div class="container">
            <div class="block-1__content">
              <div class="block-1__info">
                <div class="title">Постройте<br>эко-бассейн без хлора,</div>
                <div class="subtitle">который сохраняет<br>ваше здоровье</div>
                <div class="to-calc">
                  <div class="text">Рассчитайте стоимость басейна<br>с помощью удобного калькулятора</div>
                  <a href="#" class="btn btn-to-calc">Рассчитать стоимость бассасейна</a>
                  <div class="mouse-decor">
                    <div class="ico">
                      <img src="data/mouse-ico.png" alt="mouse">
                    </div>
                    <div class="text">Листай вниз</div>
                  </div>
                </div>
              </div>
              <div class="block-1__absolute-elem">
                <div class="main-image">
                  <img src="data/pool-img-1.png" alt="pool">
                </div>
                <div class="decor-elem decor-elem-1">
                  <div class="text">Не вызывает<br>коррозии металла</div>
                  <div class="arrow">
                    <img src="data/pool-arrow-1.png" alt="arrow">
                  </div>
                </div>
                <div class="decor-elem decor-elem-2">
                  <div class="text">Ионизатор для бассейна<br>Aquatron Systems</div>
                  <div class="arrow">
                    <img src="data/pool-arrow-2.png" alt="arrow">
                  </div>
                </div>
                <div class="decor-elem decor-elem-3">
                  <div class="text">Чистая прозрачная вода.<br>Отсутствие неприятного<br>.запаха ощутимая мягкость воды</div>
                  <div class="arrow">
                    <img src="data/pool-arrow-3.png" alt="arrow">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-2">
          <div class="container">
            <div class="block-2__content">
              <div class="block-2__col-1">
                <div class="main-title">Выгоды при установки эко бассейна</div>
                <div class="block-2__content-block">
                  <div class="title">Для бизнеса</div>
                  <div class="ico">
                    <img src="data/business.png" alt="business">
                  </div>
                  <div class="main-text">Увеличение посещаемости<br>за счет уникальных бассейнов.</div>
                  <div class="text">Ваши бассейны будут <strong>отличаться от 90%</strong> других, потому что он не содержит хлора</div>
                </div>
              </div>
              <div class="block-2__col-2">
                <div class="block-2__content-block">
                  <div class="title">Для дома</div>
                  <div class="ico">
                    <img src="data/home.png" alt="business">
                  </div>
                  <div class="main-text">Сохраните свое здоровье и здоровье<br>своих близких за счет чистой воды<br>в бассейне без хлора.</div>
                  <div class="text"><strong>Особенно важно — для детей.</strong><br>Дети часто пьют воду из бассейна.<br>Вода с ионами серебра и меди полностью экологична и <strong>отвечает стандартам</strong> питьевой воды.</div>
                  <div class="subtext">Будьте спокойны за здоровье вашего ребенка.</div>
                </div>
              </div>
              <div class="absolute-elem">aquatron systems</div>
            </div>
          </div>
        </div>
        <div class="block-3">
          <div class="container">
            <div class="block-3__content">
              <div class="block-3__info">
                <div class="text">Посмотрите видеообращение<br>руководителя компании<br><strong>Aquatron systems</strong></div>
                <div class="btn btn-order-pool">Заказать бассейн</div>
              </div>
              <div class="video-block">
                <iframe src="http://www.youtube.com/embed/Bey4XXJAqS8" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="block-4">
          <div class="container">
            <div class="block-4__content">
              <div class="absolute-elem">
                <div class="main-image">
                  <img src="data/pool-img-2.png" alt="pool">
                </div>
                <div class="decor-elem decor-elem-1">
                  <div class="text">Оставьте заявку<br>на бесплатную<br>консультацию</div>
                  <div class="arrow">
                    <img src="data/pool-arrow-4.png" alt="arrow">
                  </div>
                </div>
                <div class="decor-text">aquatron systems</div>
              </div>
              <div class="form-block">
                <div class="title">Введите Ваше имя и телефон<br>и мы Вам перезвоним</div>
                <form action="#">
                  <div class="row">
                    <div class="label label-name">Ваше имя</div>
                    <input type="text" class="form-input" placeholder="Артем">
                  </div>
                  <div class="row">
                    <div class="label label-phone">Ваш телефон</div>
                    <input type="tel" class="form-input" placeholder="+38(___)-___-__-__">
                  </div>
                  <button class="btn btn-order-consult">Заказать консультацию</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="block-5">
          <div class="continer">
            <div class="block-5__content">
              <div class="block-5__col-1">
                <div class="text">Экономия на<br>обслуживании<br>бассейна до</div>
                <div class="image">
                  <img src="data/70-economy.png" alt="70%">
                </div>
              </div>
              <div class="block-5__col-2">
                <div class="features-list">
                  <div class="features-list__feature">
                    <div class="ico">
                      <img src="data/feature-1.png" alt="feature">
                    </div>
                    <div class="text">Вам <strong>не нужно нанимать</strong><br>специалистов<br>для обслуживания бассейна.</div>
                  </div>
                  <div class="features-list__feature">
                    <div class="ico">
                      <img src="data/feature-2.png" alt="feature">
                    </div>
                    <div class="text">Оборудование не вызывает коррозии<br>элементов бассейна — прослужит<br><strong>в 2 раза дольше</srtong></div>
                  </div>
                  <div class="features-list__feature">
                    <div class="ico">
                      <img src="data/feature-3.png" alt="feature">
                    </div>
                    <div class="text">Замена песка происходит в <strong>3 раза</strong><br><strong>реже</strong> чем у простых бассейнов</div>
                  </div>
                  <div class="features-list__feature">
                    <div class="ico">
                      <img src="data/feature-4.png" alt="feature">
                    </div>
                    <div class="text"><strong>Не нужен склад</strong><br>для хранения химии</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-6">
          <div class="container">
            <div class="main-title">Выгоды при установки<br>эко бассейнов <strong>Aquatron SYSTEMS</strong></div>
            <div class="block-6__content">
              <div class="image">
                <img src="data/pool-img-3.jpg" alt="pool">
              </div>
              <div class="info">
                <div class="features-list">
                  <div class="features-list__feature">
                    <div class="ico">
                      <img src="data/feature-5.png" alt="alt">
                    </div>
                    <div class="content">
                      <div class="title">Чистая прозрачная вода</div>
                      <div class="text">Отсутствие неприятного<br>запаха ощутимая мягкость воды</div>
                    </div>
                  </div>
                  <div class="features-list__feature">
                    <div class="ico">
                      <img src="data/feature-6.png" alt="alt">
                    </div>
                    <div class="content">
                      <div class="title">Сертифицированное оборудование</div>
                      <div class="text">Оборудование прошло государственные<br>исследования и испытания</div>
                    </div>
                  </div>
                  <div class="features-list__feature">
                    <div class="ico">
                      <img src="data/feature-7.png" alt="alt">
                    </div>
                    <div class="content">
                      <div class="title">Автоматический контроль хлора</div>
                      <div class="text">Вам не нужно следить за показателями<br>— система делает все автоматически.</div>
                    </div>
                  </div>
                  <div class="features-list__feature">
                    <div class="ico">
                      <img src="data/feature-8.png" alt="alt">
                    </div>
                    <div class="content">
                      <div class="title">Отсутствие аллергии на хлор</div>
                      <div class="text">У многих людей, особенно у детей, часто возникает<br>аллергия на хлор, который есть в обычной воде.<br>Ионизация, наоборот - позволяет укрепить<br>иммунную систему организма.</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="absolute-elem">aquatron systems</div>
            </div>
          </div>
        </div>
        <div class="block-7">
          <div class="container">
            <div class="block-7__content">
                <div class="block-7__info">
                  <div class="title">Посмотрите, как работают ионы<br>с вирусами и бактериями</div>
                  <div class="text">
                    <p>Это современный и качественным метод обеззараживания воды, в основе которого лежит использование ионов серебра и меди. Сегодня, это самый экологичный способ очищать воду в бассейне, не используется ядовитый хлор.</p>
                    <p><strong>Невидимые глазу ионы</strong> блокируют жизнедеятельность патогенных бактерий и микроорганизмов, а также не дают расти водорослям. В результате, в чаше бассейна всегда кристально чистая вода.</p>
                  </div>
                </div>
                <div class="video-block">
                  <iframe src="http://www.youtube.com/embed/Bey4XXJAqS8" allowfullscreen></iframe>
                </div>
                <div class="absolute-elem">aquatron systems</div>
            </div>
          </div>
        </div>
        <div class="block-8">
          <div class="container">
            <div class="block-8__content">
              <div class="main-title">Наши объекты</div>
              <div class="slider">
                <div class="slide">
                  <div class="image">
                    <img src="data/pool-slide.jpg" alt="alt">
                  </div>
                  <div class="content">
                    <div class="title">Бассейн в г. Харьков</div>
                    <div class="list">
                      <div class="item">бассейн из камня</div>
                      <div class="item">скимерный</div>
                      <div class="item">установлен гидромассаж<br>и подсветка</div>
                      <div class="item">еще что-то</div>
                      <div class="item">и еще что-то</div>
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="image">
                    <img src="data/pool-slide.jpg" alt="alt">
                  </div>
                  <div class="content">
                    <div class="title">Бассейн в г. Харьков</div>
                    <div class="list">
                      <div class="item">бассейн из камня</div>
                      <div class="item">скимерный</div>
                      <div class="item">установлен гидромассаж<br>и подсветка</div>
                      <div class="item">еще что-то</div>
                      <div class="item">и еще что-то</div>
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="image">
                    <img src="data/pool-slide.jpg" alt="alt">
                  </div>
                  <div class="content">
                    <div class="title">Бассейн в г. Харьков</div>
                    <div class="list">
                      <div class="item">бассейн из камня</div>
                      <div class="item">скимерный</div>
                      <div class="item">установлен гидромассаж<br>и подсветка</div>
                      <div class="item">еще что-то</div>
                      <div class="item">и еще что-то</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="my-slider-nav">
                <div class="counter"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-9">
          <div class="container">
            <div class="main-title">Виды бассейнов, которые мы строим</div>
            <div class="block-9__content">
              <div class="pools-list">
                <div class="pool-holder">
                  <div class="pool">
                    <div class="title">Бассейн с готовыми чашами</div>
                    <div class="image">
                      <img src="data/pool-list-1.jpg" alt="pool">
                    </div>
                    <div class="info">
                      <div class="text">Готовые формы бассейнов из керамико-композитных материалов</div>
                      <a href="#" class="btn btn-item-details">Подробнее</a>
                      <div class="subtext"><span>*</span>используем только проверенного производителя чаш</div>
                    </div>
                  </div>
                </div>
                <div class="pool-holder">
                  <div class="pool">
                    <div class="title">Бассейн с индевидуальными чашами</div>
                    <div class="image">
                      <img src="data/pool-list-2.jpg" alt="pool">
                    </div>
                    <div class="info">
                      <div class="text">Индивидуальные формы бассейнов из бетона с использованием любых декоративных материалов</div>
                      <a href="#" class="btn btn-item-details">Подробнее</a>
                    </div>
                  </div>
                </div>
                <div class="pool-holder">
                  <div class="pool">
                    <div class="title">Бассейн из нержавеющей стали</div>
                    <div class="image">
                      <img src="data/pool-list-3.jpg" alt="pool">
                    </div>
                    <div class="info">
                      <div class="text">Индивидуальное изготовление бассейнов из высоколегированной нержавеющей стали</div>
                      <a href="#" class="btn btn-item-details">Подробнее</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-10">
          <div class="container">
            <div class="main-title">Рассчитать стоимость бассейна</div>
            <form class="block-10__content" action="#">
              <div class="block-10__col">
                <div class="row">
                  <div class="title">Тип</div>
                  <div class="radios-images">
                    <div class="input-box">
                      <div class="image">
                        <img src="data/pool-form-1.jpg" alt="pool">
                      </div>
                      <label class="input">Общественный
                        <input type="radio" name="radio-1">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="input-box">
                      <div class="image">
                        <img src="data/pool-form-2.jpg" alt="pool">
                      </div>
                      <label class="input">Частный
                        <input type="radio" name="radio-1">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="title">Вид бассейна</div>
                  <label class="input">Керамико-композитный
                    <input type="radio" name="radio-2">
                    <span class="checkmark"></span>
                  </label>
                  <label class="input">Из бетона
                    <input type="radio" name="radio-2">
                    <span class="checkmark"></span>
                  </label>
                  <label class="input">Из нержавеющей стали
                    <input type="radio" name="radio-2">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <button class="btn btn-calc-price">Рассчитать стоимость</button>
              </div>
              <div class="block-10__col">
                <div class="row">
                  <div class="title">Система циркуляции воды</div>
                  <div class="radios-images">
                    <div class="input-box">
                      <div class="image">
                        <img src="data/pool-form-3.jpg" alt="pool">
                      </div>
                      <label class="input">Скимерный
                        <input type="radio" name="radio-3">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="input-box">
                      <div class="image">
                        <img src="data/pool-form-4.jpg" alt="pool">
                      </div>
                      <label class="input">Переливной
                        <input type="radio" name="radio-3">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="title">Размещение</div>
                  <label class="input">Уличный
                    <input type="radio" name="radio-4">
                    <span class="checkmark"></span>
                  </label>
                  <label class="input">В помещении
                    <input type="radio" name="radio-4">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="row">
                  <div class="title">Наличие</div>
                  <div class="subrow">
                    <div class="subcol">
                      <label class="input">Искусственное течение
                        <input type="radio" name="radio-5">
                        <span class="checkmark"></span>
                      </label>
                      <label class="input">Гидромассаж
                        <input type="radio" name="radio-5">
                        <span class="checkmark"></span>
                      </label>
                      <label class="input">Донный гейзер
                        <input type="radio" name="radio-5">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="subcol">
                      <label class="input">Водопад
                        <input type="radio" name="radio-5">
                        <span class="checkmark"></span>
                      </label>
                      <label class="input">Подсветка
                        <input type="radio" name="radio-5">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="block-11">
          <div class="container">
            <div class="block-11__content">
              <div class="absolute-elem">
                <div class="main-image">
                  <img src="data/katalog.png" alt="catalog">
                </div>
                <div class="decor-elem decor-elem-1">
                  <div class="text">Скачайте каталог с детальной<br>информацией о бесхлорной<br>системе очистки в PDF</div>
                  <div class="arrow">
                    <img src="data/pool-arrow-4.png" alt="arrow">
                  </div>
                </div>
                <div class="decor-text">aquatron systems</div>
              </div>
              <div class="form-block">
                <div class="title">Введите Ваше имя и телефон<br>и мы Вам перезвоним</div>
                <form action="#">
                  <div class="row">
                    <div class="label label-email">Ваш email</div>
                    <input type="email" class="form-input" placeholder="mail@gmail.com">
                  </div>
                  <div class="row">
                    <div class="label label-phone">Ваш телефон</div>
                    <input type="tel" class="form-input" placeholder="+38(___)-___-__-__">
                  </div>
                  <button class="btn btn-order-consult">Скачать каталог. PDF 11.4 Mb</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="block-12">
          <div class="container">
            <div class="block-12__content">
              <div class="info">
                <div class="title">Позаботьтесь<br>о своем здоровье</div>
                <div class="text">
                  <p>Хлор может выступать причиной астмы, выпадения волос, раковых заболеваний, что ставит под опасность людей с ослабленной иммунной системой.</p>
                  <p>Серебро, в свою очередь, обладает целебными свойствами. Многие медикаменты и косметика содержат данный элемент.</p>
                  <p>Плавая в ионизированной воде, вы получаете не только удовольствие, но и пользу для здоровья.</p>
                </div>
                <a href="#" class="btn btn-to-calc">Рассчитать стоимость бассасейна</a>
              </div>
              <div class="image">
                <img src="data/health.jpg" alt="health">
              </div>
            </div>
          </div>
        </div>
        <div class="block-13">
          <div class="container">
            <div class="block-13__content">
              <div class="title">Команда <strong>Aquatron systems</strong></div>
              <div class="team-list">
                <div class="person-holder">
                  <div class="person">
                    <div class="image">
                      <img src="data/vadim.jpg" alt="vadim">
                    </div>
                    <div class="name">Поляков Вадим</div>
                    <div class="post">Руководитель Компании</div>
                  </div>
                </div>
                <div class="person-holder">
                  <div class="person">
                    <div class="image">
                      <img src="data/vadim.jpg" alt="vadim">
                    </div>
                    <div class="name">Поляков Вадим</div>
                    <div class="post">Руководитель Компании</div>
                  </div>
                </div>
                <div class="person-holder">
                  <div class="person">
                    <div class="image">
                      <img src="data/vadim.jpg" alt="vadim">
                    </div>
                    <div class="name">Поляков Вадим</div>
                    <div class="post">Руководитель Компании</div>
                  </div>
                </div>
                <div class="person-holder">
                  <div class="person">
                    <div class="image">
                      <img src="data/vadim.jpg" alt="vadim">
                    </div>
                    <div class="name">Поляков Вадим</div>
                    <div class="post">Руководитель Компании</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-14">
          <div class="container">
            <div class="block-14__content">
              <div class="title">Сертификаты качества</div>
              <div class="certeficates-list">
                <div class="certeficate-holder">
                  <div class="certeficate">
                    <div class="image">
                      <img src="data/cert-1.jpg" alt="certeficate">
                    </div>
                    <div class="name">Заключение государственной<br>санитарно-эпидемиологической<br>экспертизы</div>
                  </div>
                </div>
                <div class="certeficate-holder">
                  <div class="certeficate">
                    <div class="image">
                      <img src="data/cert-2.jpg" alt="certeficate">
                    </div>
                    <div class="name">Исследовательско-испытательная<br>лаборатория</div>
                  </div>
                </div>
                <div class="certeficate-holder">
                  <div class="certeficate">
                    <div class="image">
                      <img src="data/cert-3.jpg" alt="certeficate">
                    </div>
                    <div class="name">Заключение государственной<br>санитарно-эпидемиологической<br>экспертизы</div>
                  </div>
                </div>
                <div class="certeficate-holder">
                  <div class="certeficate">
                    <div class="image">
                      <img src="data/cert-4.jpg" alt="certeficate">
                    </div>
                    <div class="name">Согласование МЧС Украины</div>
                  </div>
                </div>
                <div class="certeficate-holder">
                  <div class="certeficate">
                    <div class="image">
                      <img src="data/cert-5.jpg" alt="certeficate">
                    </div>
                    <div class="name">Декларация про соответствие<br>техническим условиям</div>
                  </div>
                </div>
                <div class="certeficate-holder">
                  <div class="certeficate">
                    <div class="image">
                      <img src="data/cert-6.jpg" alt="certeficate">
                    </div>
                    <div class="name">Сертификат соответствия 2018-2019</div>
                  </div>
                </div>
                <div class="certeficate-holder">
                  <div class="certeficate">
                    <div class="image">
                      <img src="data/cert-7.jpg" alt="certeficate">
                    </div>
                    <div class="name">Сертификат соответствия 2017</div>
                  </div>
                </div>
                <div class="certeficate-holder">
                  <div class="certeficate">
                    <div class="image">
                      <img src="data/cert-8.jpg" alt="certeficate">
                    </div>
                    <div class="name">Декларация про соответствие<br>эллектромагнитной совместимости</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-15">
          <div class="container">
            <div class="block-15__content">
              <div class="main-title">Отзывы</div>
              <div class="feedbacks-slider slider-for">
                <div class="slide">
                  <iframe src="http://www.youtube.com/embed/Bey4XXJAqS8" allowfullscreen></iframe>
                  <div class="info">
                    <div class="name">Сергей, г. Киев</div>
                    <div class="feedback">Бассейн 32 м2, установлена<br>система AQUATRON-i500</div>
                  </div>
                </div>
                <div class="slide">
                  <iframe src="http://www.youtube.com/embed/Bey4XXJAqS8" allowfullscreen></iframe>
                  <div class="info">
                    <div class="name">Сергей, г. Киев</div>
                    <div class="feedback">Бассейн 32 м2, установлена<br>система AQUATRON-i500</div>
                  </div>
                </div>
                <div class="slide">
                  <iframe src="http://www.youtube.com/embed/Bey4XXJAqS8" allowfullscreen></iframe>
                  <div class="info">
                    <div class="name">Сергей, г. Киев</div>
                    <div class="feedback">Бассейн 32 м2, установлена<br>система AQUATRON-i500</div>
                  </div>
                </div>
                <div class="slide">
                  <iframe src="http://www.youtube.com/embed/Bey4XXJAqS8" allowfullscreen></iframe>
                  <div class="info">
                    <div class="name">Сергей, г. Киев</div>
                    <div class="feedback">Бассейн 32 м2, установлена<br>система AQUATRON-i500</div>
                  </div>
                </div>
                <div class="slide">
                  <iframe src="http://www.youtube.com/embed/Bey4XXJAqS8" allowfullscreen></iframe>
                  <div class="info">
                    <div class="name">Сергей, г. Киев</div>
                    <div class="feedback">Бассейн 32 м2, установлена<br>система AQUATRON-i500</div>
                  </div>
                </div>
                <div class="slide">
                  <iframe src="http://www.youtube.com/embed/Bey4XXJAqS8" allowfullscreen></iframe>
                  <div class="info">
                    <div class="name">Сергей, г. Киев</div>
                    <div class="feedback">Бассейн 32 м2, установлена<br>система AQUATRON-i500</div>
                  </div>
                </div>
              </div>
              <div class="feedbacks-slider slider-nav">
                <div class="slide">
                  <div class="image">
                    <img src="data/slide-nav-1.png" alt="alt">
                  </div>
                  <div class="name">Елена</div>
                  <div class="city">г. Ивано-Франковск</div>
                </div>
                <div class="slide">
                  <div class="image">
                    <img src="data/slide-nav-1.png" alt="alt">
                  </div>
                  <div class="name">Елена</div>
                  <div class="city">г. Ивано-Франковск</div>
                </div>
                <div class="slide">
                  <div class="image">
                    <img src="data/slide-nav-1.png" alt="alt">
                  </div>
                  <div class="name">Елена</div>
                  <div class="city">г. Ивано-Франковск</div>
                </div>
                <div class="slide">
                  <div class="image">
                    <img src="data/slide-nav-1.png" alt="alt">
                  </div>
                  <div class="name">Елена</div>
                  <div class="city">г. Ивано-Франковск</div>
                </div>
                <div class="slide">
                  <div class="image">
                    <img src="data/slide-nav-1.png" alt="alt">
                  </div>
                  <div class="name">Елена</div>
                  <div class="city">г. Ивано-Франковск</div>
                </div>
                <div class="slide">
                  <div class="image">
                    <img src="data/slide-nav-1.png" alt="alt">
                  </div>
                  <div class="name">Елена</div>
                  <div class="city">г. Ивано-Франковск</div>
                </div>
              </div>
              <div class="absolute-elem">отзывы</div>
            </div>
          </div>
        </div>
        <div class="block-16">
          <div class="container">
            <div class="block-16__content">
              <div class="main-title">Остались вопросы?</div>
              <div class="subtitle">Задайте их нашему<br>специалисту или свяжитсь с нами</div>
              <div class="form-block">
                <div class="title">Введите Ваше имя и телефон<br>и мы перезвоним Вам в течении 10 минут</div>
                <form action="#">
                  <div class="col">
                    <div class="row">
                      <div class="label label-name">Ваше имя</div>
                      <input type="text" class="form-input" placeholder="Николай">
                    </div>
                    <div class="row">
                      <div class="label label-phone">Ваш телефон</div>
                      <input type="tel" class="form-input" placeholder="+38(___)-___-__-__">
                    </div>
                    <button class="btn btn-ask-question">Задать вопрос</button>
                  </div>
                  <div class="col">
                      <div class="row">
                        <div class="label label-question">Ваш вопрос</div>
                        <div class="textarea-title">Добрый день. Меня интересует...</div>
                        <textarea class="form-input form-input--textarea"></textarea>
                      </div>
                  </div>
                </form>
              </div>
              <div class="absolute-elem">
                <div class="image">
                  <img src="data/consultor.png" alt="alt">
                </div>
                <div class="text"><strong>Вадим поляков.</strong><br>Руководитель компании<br>Aquatron SYSTEM</div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-17">
          <div id="map" data-coords="50.015279, 36.2173734"></div>
          <div class="map-block">
            <div class="image">
              <img src="data/map.png" alt="map">
            </div>
            <div class="content">
              <div class="title">Контакты</div>
              <ul class="contact-list">
                <li class="contact contact-loc">Украина, Харьков,<br>улица Космическая 21 А</li>
                <li class="contact contact-phones">
                  <a href="tel:0630466732">+38 (063) 046-67-32</a>
                  <a href="tel:0675732850">+38 (067) 573-28-50</a>
                </li>
                <li class="contact contact-email">
                  <a href="mailto:info@aquatron-systems.com">info@aquatron-systems.com</a>
                </li>
              </ul>
              <a href="#" target="_blank" class="fb-link"></a>
            </div>
          </div>
        </div>
      </div>
      {% include 'footer.html' %}
  </div>
  {% include 'callback-popup.html' %}
  <div class="overlay"></div>

  {% include 'js.html' %}
</body>

</html>