<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  <div class="wrapper">
      {% include 'header.html' %}
      <div class="main">
        <div class="block-1">
          <div class="container">
            <div class="block-1__content">
              <div class="block-1__info">
                <div class="title">Постройте<br>эко-бассейн без хлора,</div>
                <div class="subtitle">который сохраняет<br>ваше здоровье</div>
                <div class="to-calc">
                  <div class="text">Рассчитайте стоимость басейна<br>с помощью удобного калькулятора</div>
                  <a href="#" class="btn btn-to-calc">Рассчитать стоимость бассасейна</a>
                  <div class="mouse-decor">
                    <div class="ico">
                      <img src="data/mouse-ico.png" alt="mouse">
                    </div>
                    <div class="text">Листай вниз</div>
                  </div>
                </div>
              </div>
              <div class="block-1__absolute-elem">
                <div class="main-image">
                  <img src="data/pool-img-1.png" alt="pool">
                </div>
                <div class="decor-elem decor-elem-1">
                  <div class="text">Не вызывает<br>коррозии металла</div>
                  <div class="arrow">
                    <img src="data/pool-arrow-1.png" alt="arrow">
                  </div>
                </div>
                <div class="decor-elem decor-elem-2">
                  <div class="text">Ионизатор для бассейна<br>Aquatron Systems</div>
                  <div class="arrow">
                    <img src="data/pool-arrow-2.png" alt="arrow">
                  </div>
                </div>
                <div class="decor-elem decor-elem-3">
                  <div class="text">Чистая прозрачная вода.<br>Отсутствие неприятного<br>.запаха ощутимая мягкость воды</div>
                  <div class="arrow">
                    <img src="data/pool-arrow-3.png" alt="arrow">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-2">
          <div class="container">
            <div class="block-2__content">
              <div class="block-2__col-1">
                <div class="main-title">Выгоды при установки эко бассейна</div>
                <div class="block-2__content-block">
                  <div class="title">Для бизнеса</div>
                  <div class="ico">
                    <img src="data/business.png" alt="business">
                  </div>
                  <div class="main-text">Увеличение посещаемости<br>за счет уникальных бассейнов.</div>
                  <div class="text">Ваши бассейны будут <strong>отличаться от 90%</strong> других, потому что он не содержит хлора</div>
                </div>
              </div>
              <div class="block-2__col-2">
                <div class="block-2__content-block">
                  <div class="title">Для дома</div>
                  <div class="ico">
                    <img src="data/home.png" alt="business">
                  </div>
                  <div class="main-text">Сохраните свое здоровье и здоровье<br>своих близких за счет чистой воды<br>в бассейне без хлора.</div>
                  <div class="text"><strong>Особенно важно — для детей.</strong><br>Дети часто пьют воду из бассейна.<br>Вода с ионами серебра и меди полностью экологична и <strong>отвечает стандартам</strong> питьевой воды.</div>
                  <div class="subtext">Будьте спокойны за здоровье вашего ребенка.</div>
                </div>
              </div>
              <div class="absolute-elem">aquatron systems</div>
            </div>
          </div>
        </div>
        <div class="block-3">
          <div class="container">
            <div class="block-3__content">
              <div class="block-3__info">
                <div class="text">Посмотрите видеообращение<br>руководителя компании<br><strong>Aquatron systems</strong></div>
                <div class="btn btn-order-pool">Заказать бассейн</div>
              </div>
              <div class="video-block">
                <iframe src="http://www.youtube.com/embed/Bey4XXJAqS8" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="block-4">
          <div class="container">
            <div class="block-4__content">
              <div class="absolute-elem">
                <div class="main-image">
                  <img src="data/pool-img-2.png" alt="pool">
                </div>
                <div class="decor-elem decor-elem-1">
                  <div class="text">Оставьте заявку<br>на бесплатную<br>консультацию</div>
                  <div class="arrow">
                    <img src="data/pool-arrow-4.png" alt="arrow">
                  </div>
                </div>
                <div class="decor-text">aquatron systems</div>
              </div>
              <div class="form-block">
                <div class="title">Введите Ваше имя и телефон<br>и мы Вам перезвоним</div>
                <form action="#">
                  <div class="row">
                    <div class="label label-name">Ваше имя</div>
                    <input type="text" class="form-input" placeholder="Артем">
                  </div>
                  <div class="row">
                    <div class="label label-phone">Ваш телефон</div>
                    <input type="text" class="form-input" placeholder="+38 (066) 222 ">
                  </div>
                  <button class="btn btn-order-consult">Заказать консультацию</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="block-5">
          <div class="continer">
            <div class="block-5__content">
              <div class="block-5__col-1">
                <div class="text">Экономия на<br>обслуживании<br>бассейна до</div>
                <div class="image">
                  <img src="data/70-economy.png" alt="70%">
                </div>
              </div>
              <div class="block-5__col-2">
                <div class="features-list">
                  <div class="features-list__feature">
                    <div class="ico">
                      <img src="data/feature-1.png" alt="feature">
                    </div>
                    <div class="text">Вам <strong>не нужно нанимать</strong><br>специалистов<br>для обслуживания бассейна.</div>
                  </div>
                  <div class="features-list__feature">
                    <div class="ico">
                      <img src="data/feature-2.png" alt="feature">
                    </div>
                    <div class="text">Оборудование не вызывает коррозии<br>элементов бассейна — прослужит<br><strong>в 2 раза дольше</srtong></div>
                  </div>
                  <div class="features-list__feature">
                    <div class="ico">
                      <img src="data/feature-3.png" alt="feature">
                    </div>
                    <div class="text">Замена песка происходит в <strong>3 раза</strong><br><strong>реже</strong> чем у простых бассейнов</div>
                  </div>
                  <div class="features-list__feature">
                    <div class="ico">
                      <img src="data/feature-4.png" alt="feature">
                    </div>
                    <div class="text"><strong>Не нужен склад</strong><br>для хранения химии</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-6">
          <div class="container">
            <div class="main-title">Рассчитать стоимость бассейна</div>
            <form class="block-6__content" action="#">
              <div class="block-6__col">
                <div class="row">
                  <div class="title">Тип</div>
                  <div class="radios-images">
                    <div class="input-box">
                      <div class="image">
                        <img src="data/pool-form-1.jpg" alt="pool">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% include 'footer.html' %}
  </div>
  {% include 'callback-popup.html' %}
  <div class="overlay"></div>

  {% include 'js.html' %}
</body>

</html>