<div class="popup calculate-popup">
    <div class="popup-close"></div>
    <div class="content">
        <div class="title">Рассчитать стоимость</div>
        <div class="subtitle">Для рассчета стоимости<br>оставьте свои контакты</div>
        <form action="#">
            <div class="row">
            <div class="label label-name">Ваше имя</div>
            <input type="text" class="form-input" placeholder="Введите имя">
            </div>
            <div class="row">
            <div class="label label-phone">Ваш телефон</div>
            <input type="tel" class="form-input" placeholder="Введите номер телефона">
            </div>
            <button class="btn btn-consult">Заказать консультацию</button>
        </form>
    </div>
</div>