<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__logo-buisiness">
                <div class="logo">
                    <a href="/">
                        <img src="data/logo.png" alt="AQUATRON SYSTEMS">
                    </a>
                </div>
                <div class="footer__buisiness">Строительство эко-басейнов<br>по Харькову и области</div>
            </div>
            <div class="site-maker">Создание сайта<br>Романенко Сергей</div>
        </div>
    </div>
</footer>