<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__logo-buisiness">
                <div class="logo">
                    <a href="/">
                        <img src="data/logo.png" alt="AQUATRON SYSTEMS">
                    </a>
                </div>
                <div class="header__buisiness">Строительство эко-басейнов по Харькову и области</div>
            </div>
            <div class="header__contacts-menu">
                <ul class="phones-list">
                    <li class="phones-list__item">
                        <a href="#">+38 (063) 046-67-32</a>
                    </li>
                    <li class="phones-list__item">
                        <a href="#">+38 (067) 573-28-50</a>
                    </li>
                </ul>
                <div class="btn btn-callback">Заказть звонок</div>
                <div class="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>